@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Satisfy&family=Ubuntu+Mono&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none; }

.navbar {
  background-color: #515dab;
  padding: 10px 80px;
  font-size: 20px; }
  .navbar .navbar-brand {
    font-size: 35px; }

main .hero {
  background-color: #f5b4cd;
  display: flex;
  justify-content: center;
  padding-top: 10px; }
  main .hero .heroImage {
    height: 500px; }
  main .hero .heroDescription {
    color: #362a32;
    position: relative;
    right: 120px;
    padding-top: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    main .hero .heroDescription .heroGreeting {
      font-size: 60px; }
    main .hero .heroDescription .heroTitle {
      font-size: 100px;
      font-family: "Satisfy", cursive;
      color: #ef743d; }
    main .hero .heroDescription .heroDetail {
      font-size: 30px;
      max-width: 250px; }
