@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Satisfy&family=Ubuntu+Mono&display=swap");
html {
  font-size: 16px; }

body {
  background-color: #f5b4cd; }

.tituloSeccion {
  font-size: 3.125rem;
  font-family: "Satisfy", cursive; }

.subtituloSeccion {
  font-size: 2.5rem;
  font-family: "Ubuntu Mono", monospace; }

.introSeccion {
  font-size: 1.563rem; }

.parrafoSeccion {
  font-size: 1.25rem; }

section {
  padding: 4rem 10rem; }

*,
p,
a,
h1,
h2,
h3,
div,
ul,
li {
  font-family: "Quicksand", sans-serif;
  color: #564138;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none; }

.navbar {
  background-color: #515dab;
  opacity: 0.9;
  padding: 0.625rem 10rem;
  font-size: 1.25rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30; }
  .navbar .logoNav {
    font-size: 3rem;
    font-family: "Satisfy", cursive;
    color: white; }

main .hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  padding: 0 12.5rem; }
  main .hero dotlottie-player {
    height: 100%;
    width: auto;
    position: fixed;
    top: 5rem;
    left: 5rem;
    z-index: -1; }
  main .hero .heroDescription {
    z-index: -1;
    background-color: #f5b4cd;
    padding: 2.5rem 0;
    color: #564138;
    border-radius: 1.25rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-end;
    max-width: 25rem; }
    main .hero .heroDescription .heroGreeting {
      font-size: 4.375rem; }
    main .hero .heroDescription .heroTitle {
      font-size: 7rem;
      font-family: "Satisfy", cursive;
      color: #ef798a; }
    main .hero .heroDescription .heroDetail {
      font-size: 2.5rem; }

main .sobreMi {
  padding-top: 0;
  z-index: 1;
  background-color: #a25b43;
  color: #45bfec; }
  main .sobreMi .sobreMiTitle {
    color: #515dab; }
  main .sobreMi .sobreMiInfo .sobreMiTextoContenedor {
    background-color: #a25b43;
    display: grid;
    grid-template-areas: "textoUno textoUno textoUno sobreMiFigura" "textoDos textoDos textoDos sobreMiFigura" "textoTres textoTres textoTres sobreMiFigura";
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    gap: 1rem; }
    main .sobreMi .sobreMiInfo .sobreMiTextoContenedor .sobreMiTexto {
      text-align: justify;
      color: white; }
    main .sobreMi .sobreMiInfo .sobreMiTextoContenedor .textoUno {
      grid-area: textoUno; }
    main .sobreMi .sobreMiInfo .sobreMiTextoContenedor .textoDos {
      grid-area: textoDos; }
    main .sobreMi .sobreMiInfo .sobreMiTextoContenedor .textoTres {
      grid-area: textoTres; }
  main .sobreMi .sobreMiInfo .sobreMiFigura {
    grid-area: sobreMiFigura; }
    main .sobreMi .sobreMiInfo .sobreMiFigura img {
      height: 25rem;
      border-radius: 100%; }

main .herramientas {
  background-color: #f2cd60;
  padding-top: 8rem;
  padding-bottom: 0rem; }
  main .herramientas .herramientasTitle {
    color: #515dab; }
  main .herramientas .herramientasText {
    color: #564138;
    padding: 1.25rem 0; }
  main .herramientas .row {
    display: flex;
    gap: 1.25rem; }
    main .herramientas .row .columnita {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.938rem; }
      main .herramientas .row .columnita i {
        font-size: 3.75rem;
        color: white; }
      main .herramientas .row .columnita p {
        max-width: 6.25rem;
        text-align: center; }

main .proyectos {
  background-color: #ef798a; }
  main .proyectos .proyectosTitle {
    color: #515dab; }
  main .proyectos .trabajo {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    main .proyectos .trabajo .trabajoImagen {
      height: 25rem; }
    main .proyectos .trabajo .trabajoDetails .trabajoTitle {
      color: white; }
    main .proyectos .trabajo .trabajoDetails .items {
      display: flex;
      flex-direction: row;
      gap: 1.875rem;
      align-items: center; }
      main .proyectos .trabajo .trabajoDetails .items i {
        font-size: 1.563rem;
        color: white; }
    main .proyectos .trabajo .trabajoDetails .botones {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 1.25rem; }
      main .proyectos .trabajo .trabajoDetails .botones .button {
        background-color: #45bfec;
        padding: 0.313rem;
        color: #564138;
        border-radius: 0.313rem; }

main .contacto {
  background-color: #a25b43;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0; }
  main .contacto .contactoTitle {
    color: #515dab; }
  main .contacto .contactoContenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    gap: 1.25rem; }
    main .contacto .contactoContenido form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 0.313rem;
      width: 50%; }

.footer {
  background-color: #515dab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  gap: 1rem; }
  .footer p {
    color: white;
    font-size: 1.25rem; }
  .footer div {
    display: flex;
    gap: 1.25rem; }
    .footer div a i {
      font-size: 1.25rem;
      color: white; }

.skewedSobreMi {
  position: relative;
  bottom: -10rem;
  height: 10rem;
  background: #a25b43;
  z-index: -1;
  transform: skewY(4deg);
  transform-origin: top right; }

.divisorProyectos {
  background: #a25b43;
  z-index: 1; }

.skewedProyectos {
  position: relative;
  bottom: 1rem;
  height: 7rem;
  background: #ef798a;
  transform: skewY(4deg);
  transform-origin: top right; }

.spikesHerramientas {
  position: relative;
  background: #a25b43; }

.spikesHerramientas::after {
  content: "";
  position: absolute;
  right: 0;
  left: -46%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 4rem;
  background-size: 4rem 100%;
  background-image: linear-gradient(135deg, #a25b43 25%, transparent 25%), linear-gradient(225deg, #a25b43 25%, transparent 25%);
  background-position: 0 0; }

.triangle {
  position: relative;
  background: #f2cd60;
  border: #f2cd60; }

.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.688rem 4.688rem 0 4.688rem;
  border-color: #f2cd60 transparent transparent transparent;
  left: 78%;
  transform: translateX(-50%) translateY(100%); }

@media screen and (max-width: 1350px) {
  html {
    font-size: 12px; }
  main .hero {
    padding: 0 6.25rem; }
    main .hero .heroDescription {
      max-width: 15.625rem; }
  main .sobreMi .sobreMiInfo .sobreMiTextoContenedor {
    grid-template-areas: " textoUno textoUno sobreMiFigura" " textoDos textoDos sobreMiFigura" " textoTres textoTres sobreMiFigura";
    grid-template-columns: 2fr 1fr; }
    main .sobreMi .sobreMiInfo .sobreMiTextoContenedor .sobreMiTexto {
      text-align: justify; }
  main .proyectos .trabajo {
    grid-template-columns: 1fr; }
    main .proyectos .trabajo img {
      height: 15.625rem; }
    main .proyectos .trabajo .trabajoDetails {
      gap: 1.25rem;
      align-items: center;
      padding: 0; } }

@media screen and (max-width: 1050px) {
  html {
    font-size: 0.625rem; }
  main .hero {
    padding: 0 0 0 7.5rem;
    justify-content: start; }
    main .hero .heroDescription {
      max-width: 15.625rem;
      text-align: left;
      align-items: start; }
  main .sobreMi .sobreMiInfo .sobreMiTextoContenedor {
    grid-template-areas: "textoUno sobreMiFigura" "textoDos sobreMiFigura" "textoTres textoTres";
    grid-template-columns: 1fr 1fr; }
    main .sobreMi .sobreMiInfo .sobreMiTextoContenedor .sobreMiTexto {
      text-align: justify; } }

@media screen and (max-width: 750px) {
  html {
    font-size: 8px; }
  main .hero {
    padding: 0 0 0 3.125rem; }
  main .sobreMi .sobreMiInfo .sobreMiTextoContenedor {
    grid-template-areas: "sobreMiFigura" "textoUno" "textoDos" "textoTres";
    grid-template-columns: 1fr; }
    main .sobreMi .sobreMiInfo .sobreMiTextoContenedor .sobreMiFigura {
      justify-self: center; }
  main .proyectos .trabajo img {
    max-width: 100%;
    height: auto; }
  main .proyectos .trabajo .trabajoDetails {
    gap: 1.25rem;
    align-items: center;
    padding: 0; } }
