@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Satisfy&family=Ubuntu+Mono&display=swap");

html {
  font-size: 16px;
}
body {
  background-color: #f5b4cd;
}

//Constantes
$fuentePrincipal: "Quicksand", sans-serif;
$fuenteCursiva: "Satisfy", cursive;
$fuenteMonospace: "Ubuntu Mono", monospace;
$colorFuerte: #515dab;
$colorOscuro: #564138;
$colorClaro1: #f5b4cd;
$colorFuerte2: #a25b43;
$colorvivo1: #45bfec;
$colorvivo2: #f2cd60;
$colorvivo3: #ef798a;
$colorClaro2: #e8a28a;

$tamanoTitulo: 3.125rem;
$tamanoSubtitulo: 2.5rem;
$tamanoIntro: 1.563rem;
$tamanoTexto: 1.25rem;
$tamanoTextoGreeting: 4.375rem;
$tamanoTextoHeroTitle: 7rem;

//Estilos generales

.tituloSeccion {
  font-size: $tamanoTitulo;
  font-family: $fuenteCursiva;
}
.subtituloSeccion {
  font-size: $tamanoSubtitulo;
  font-family: $fuenteMonospace;
}
.introSeccion {
  font-size: $tamanoIntro;
}
.parrafoSeccion {
  font-size: $tamanoTexto;
}

section {
  padding: 4rem 10rem;
}

*,
p,
a,
h1,
h2,
h3,
div,
ul,
li {
  font-family: $fuentePrincipal;
  color: $colorOscuro;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.navbar {
  background-color: $colorFuerte;
  opacity: 0.9;
  padding: 0.625rem 10rem;
  font-size: 1.25rem; //cambiar por variable
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  .logoNav {
    font-size: 3rem; //cambiar por variable
    font-family: $fuenteCursiva;
    color: white;
  }
}

main {
  .hero {
    dotlottie-player {
      height: 100%;
      width: auto;
      position: fixed;
      top: 5rem;
      left: 5rem;
      z-index: -1;
    }
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding: 0 12.5rem;

    .heroDescription {
      z-index: -1;
      background-color: $colorClaro1;
      padding: 2.5rem 0;
      color: $colorOscuro;
      border-radius: 1.25rem;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-end;
      max-width: 25rem;
      .heroGreeting {
        font-size: $tamanoTextoGreeting;
      }
      .heroTitle {
        font-size: $tamanoTextoHeroTitle;
        font-family: $fuenteCursiva;
        color: $colorvivo3;
      }
      .heroDetail {
        font-size: 2.5rem;
      }
    }
  }
  .sobreMi {
    padding-top: 0;
    z-index: 1;
    background-color: $colorFuerte2;
    color: $colorvivo1;
    .sobreMiTitle {
      color: $colorFuerte;
    }
    .sobreMiInfo {
      .sobreMiTextoContenedor {
        background-color: $colorFuerte2;
        display: grid;
        grid-template-areas:
          "textoUno textoUno textoUno sobreMiFigura"
          "textoDos textoDos textoDos sobreMiFigura"
          "textoTres textoTres textoTres sobreMiFigura";
        grid-template-columns: 3fr 1fr;
        justify-content: center;
        gap: 1rem;
        .sobreMiTexto {
          text-align: justify;
          color: white;
        }
        .textoUno {
          grid-area: textoUno;
        }
        .textoDos {
          grid-area: textoDos;
        }
        .textoTres {
          grid-area: textoTres;
        }
      }
      .sobreMiFigura {
        grid-area: sobreMiFigura;
        img {
          height: 25rem;
          border-radius: 100%;
        }
      }
    }
  }
  .herramientas {
    background-color: $colorvivo2;
    padding-top: 8rem;
    padding-bottom: 0rem;
    .herramientasTitle {
      color: $colorFuerte;
    }
    .herramientasText {
      color: $colorOscuro;
      padding: 1.25rem 0;
    }
    .row {
      display: flex;
      gap: 1.25rem;
      .columnita {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.938rem;

        i {
          font-size: 3.75rem;
          color: white;
        }
        p {
          max-width: 6.25rem;
          text-align: center;
        }
      }
    }
  }

  // Sección de proyectos
  .proyectos {
    background-color: $colorvivo3;

    .proyectosTitle {
      color: $colorFuerte;
    }
    .trabajo {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .trabajoImagen {
        height: 25rem;
      }
      .trabajoDetails {
        .trabajoTitle {
          color: white;
        }
        .items {
          display: flex;
          flex-direction: row;
          gap: 1.875rem;
          align-items: center;
          i {
            font-size: 1.563rem;
            color: white;
          }
        }
        .botones {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          gap: 1.25rem;

          .button {
            background-color: $colorvivo1;
            padding: 0.313rem;
            color: $colorOscuro;
            border-radius: 0.313rem;
          }
        }
      }
    }
  }

  // Sección de contacto
  .contacto {
    background-color: $colorFuerte2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 0;
    .contactoTitle {
      color: $colorFuerte;
    }
    .contactoContenido {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: space-around;
      gap: 1.25rem;

      form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.313rem;
        width: 50%;
      }
    }
  }
}

.footer {
  background-color: $colorFuerte;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  gap: 1rem;
  p {
    color: white;
    font-size: 1.25rem;
  }
  div {
    display: flex;
    gap: 1.25rem;
    a {
      i {
        font-size: 1.25rem;
        color: white;
      }
    }
  }
}

.skewedSobreMi {
  position: relative;
  bottom: -10rem;
  height: 10rem;
  background: $colorFuerte2;
  z-index: -1;
  transform: skewY(4deg);
  transform-origin: top right;
}

.divisorProyectos {
  background: $colorFuerte2;
  z-index: 1;
}
.skewedProyectos {
  position: relative;
  bottom: 1rem;
  height: 7rem;
  background: $colorvivo3;
  transform: skewY(4deg);
  transform-origin: top right;
}

.spikesHerramientas {
  position: relative;
  background: $colorFuerte2;
}

.spikesHerramientas::after {
  content: "";
  position: absolute;
  right: 0;
  left: -46%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 4rem;
  background-size: 4rem 100%;
  background-image: linear-gradient(135deg, $colorFuerte2 25%, transparent 25%),
    linear-gradient(225deg, $colorFuerte2 25%, transparent 25%);
  background-position: 0 0;
}

.triangle {
  position: relative;
  background: $colorvivo2;
  border: $colorvivo2;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.688rem 4.688rem 0 4.688rem;
  border-color: $colorvivo2 transparent transparent transparent;
  left: 78%;
  transform: translateX(-50%) translateY(100%);
}

// Responsive

@media screen and (max-width: 1350px) {
  html {
    font-size: 12px;
  }
  main {
    .hero {
      padding: 0 6.25rem;

      .heroDescription {
        max-width: 15.625rem;
      }
    }
    .sobreMi {
      .sobreMiInfo {
        .sobreMiTextoContenedor {
          grid-template-areas:
            " textoUno textoUno sobreMiFigura"
            " textoDos textoDos sobreMiFigura"
            " textoTres textoTres sobreMiFigura";
          grid-template-columns: 2fr 1fr;
          .sobreMiTexto {
            text-align: justify;
          }
        }
      }
    }
    .proyectos {
      .trabajo {
        grid-template-columns: 1fr;
        img {
          height: 15.625rem;
        }
        .trabajoDetails {
          gap: 1.25rem;
          align-items: center;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 0.625rem;
  }
  main {
    .hero {
      padding: 0 0 0 7.5rem;
      justify-content: start;

      .heroDescription {
        max-width: 15.625rem;
        text-align: left;
        align-items: start;
      }
    }
    .sobreMi {
      .sobreMiInfo {
        .sobreMiTextoContenedor {
          grid-template-areas:
            "textoUno sobreMiFigura"
            "textoDos sobreMiFigura"
            "textoTres textoTres";
          grid-template-columns: 1fr 1fr;
          .sobreMiTexto {
            text-align: justify;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 8px;
  }
  main {
    .hero {
      padding: 0 0 0 3.125rem;
    }
    .sobreMi {
      .sobreMiInfo {
        .sobreMiTextoContenedor {
          grid-template-areas:
            "sobreMiFigura"
            "textoUno"
            "textoDos"
            "textoTres";
          grid-template-columns: 1fr;
          .sobreMiFigura {
            justify-self: center;
          }
        }
      }
    }
    .proyectos {
      .trabajo {
        img {
          max-width: 100%;
          height: auto;
        }
        .trabajoDetails {
          gap: 1.25rem;
          align-items: center;
          padding: 0;
        }
      }
    }
  }
}
