@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Satisfy&family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 16px;
}
body {
  background-color: white;
}

//Constantes
$fuentePrincipal: "Ubuntu Mono", monospace;
$fuenteCursiva: "Satisfy", cursive;
$fuenteLogo: "Montserrat", sans-serif;
$colorFuerte: #515dab;
$colorOscuro: #564138;
$colorClaro1: #f5b4cd;
$colorFuerte2: #a25b43;
$colorvivo1: #45bfec;
$colorvivo2: #f2cd60;
$colorvivo3: #ef798a;
$colorClaro2: #e8a28a;

$tamanoTitulo: 3.125rem;
$tamanoSubtitulo: 2.5rem;
$tamanoIntro: 1.563rem;
$tamanoTexto: 1.25rem;
$tamanoTextoGreeting: 4rem;
$tamanoTextoHeroTitle: 6rem;

//Estilos generales

.tituloSeccion {
  font-size: $tamanoTitulo;
  font-weight: bold;
  font-family: $fuenteLogo;
  padding: 1rem 0;
}
.subtituloSeccion {
  font-size: $tamanoSubtitulo;
  font-family: $fuenteCursiva;
  padding: 1rem 0;
}
.introSeccion {
  font-size: $tamanoIntro;
  padding: 1rem 0;
}
.parrafoSeccion {
  font-size: $tamanoTexto;
}

section {
  padding: 4rem 10rem;
}

*,
p,
a,
h1,
h2,
h3,
div,
ul,
li {
  font-family: $fuentePrincipal;
  color: $colorOscuro;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.navbar {
  background-color: $colorFuerte;
  opacity: 0.9;
  min-height: 5rem;
  padding: 0 10rem;
  font-size: 1.25rem; //cambiar por variable
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  .logoNav {
    font-size: 3rem; //cambiar por variable
    font-family: $fuenteCursiva;
    color: white;
  }
}

main {
  .hero {
    max-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    z-index: -2;
    padding: 0 1rem;

    .heroImage {
      max-width: 100%;
    }
    .heroDescription {
      padding: 2.5rem 2.5rem 2.5rem 0;
      color: $colorOscuro;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      .heroText {
        text-align: start;
        display: flex;
        flex-direction: column;
        .heroGreeting {
          font-size: $tamanoTextoGreeting;
          font-family: $fuenteLogo;
        }
        .heroTitle {
          font-size: $tamanoTextoHeroTitle;
          font-family: $fuenteCursiva;
          color: $colorvivo3;
        }
        .heroDetail {
          font-size: 2.5rem;
        }
      }
      .heroScroll {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        i {
          font-size: 5rem;
          color: $colorFuerte;
        }
      }
    }
  }
  .sobreMi {
    padding-top: 0;
    z-index: 1;
    background-color: $colorFuerte2;
    color: $colorvivo1;
    .sobreMiTitle {
      color: $colorFuerte;
    }
    .sobreMiInfo {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      align-items: center;

      .sobreMiTextoContenedor {
        justify-content: center;
        .sobreMiTexto {
          text-align: justify;
          color: white;
          padding: 0.5rem 0;
        }
      }
      .sobreMiFigura {
        img {
          max-height: 25rem;
          max-width: 100%;

          border: 5px dashed $colorOscuro;
          padding: 0.625rem;
          border-radius: 2rem;
        }
      }
    }
  }
  .herramientas {
    background-color: $colorClaro2;
    padding-top: 6rem;
    padding-bottom: 0rem;
    .herramientasTitle {
      color: $colorFuerte;
    }
    .herramientasText {
      color: $colorOscuro;
      padding-bottom: 1.25rem;
    }
    .row {
      .columnita {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.938rem;
        padding: 0.5rem 0;

        i {
          font-size: 3.75rem;
          color: white;
        }
        p {
          max-width: 6.25rem;
          text-align: center;
        }
      }
    }
  }
  // Sección de proyectos
  .proyectos {
    background-color: $colorvivo3;
    padding-bottom: 6rem;

    .proyectosTitle {
      color: $colorFuerte;
    }
    .contenedorTrabajos {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .trabajo {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        gap: 1rem;
        padding: 0 1.25rem;

        .trabajoImagen {
          height: auto;
          width: 100%;
        }

        .trabajoDetails {
          padding: 0 1.25rem;
          .trabajoTitle {
            color: $colorFuerte;
          }

          .trabajoTecnologias {
            padding: 1.25rem 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
          .botones {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1.25rem;
            padding: 1.25rem 0;

            .button {
              background-color: $colorFuerte;
              padding: 0.313rem;
              color: white;
              // border-radius: 0.313rem;
            }
          }
        }

        &:nth-child(odd) {
          background-color: white;

          .trabajoDetails {
            background-color: $colorClaro1;
            margin: 1rem 0;
          }
        }
        &:nth-child(even) {
          background-color: $colorClaro1;

          .trabajoDetails {
            background-color: white;
            margin: 1rem 0;
          }
        }
      }
    }
  }
  // Sección de contacto
  .contacto {
    background-color: $colorFuerte2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 0;
    .contactoTitle {
      color: $colorFuerte;
    }
    .contactoText {
      color: white;
    }
    .contactoFormulario {
      display: grid;
      grid-template-columns: 1fr 1fr;
      form {
        background-color: $colorClaro1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 0.313rem;
        button {
          background-color: $colorFuerte;
          color: white;
          padding: 0.313rem;
          border-radius: 0.313rem;
        }
      }
    }
  }
}

.footer {
  background-color: $colorFuerte;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  gap: 1rem;
  min-height: 8rem;
  p {
    color: white;
    font-size: 1.25rem;
  }
  div {
    display: flex;
    gap: 1.25rem;
    a {
      i {
        font-size: 1.25rem;
        color: white;
      }
    }
  }
}

//Divisiones de secciones
.divSkewed {
  position: relative;
  background-color: white;
  z-index: 0;
}
.skewedSobreMi {
  position: relative;
  bottom: -7rem;
  height: 7rem;
  background: $colorFuerte2;
  z-index: -1;
  transform: skewY(4deg);
  transform-origin: top right;
}

.divisorProyectos {
  background: $colorFuerte2;
  z-index: 1;
}
.skewedProyectos {
  position: relative;
  // bottom: -1rem;
  height: 8rem;
  background: $colorvivo3;
  transform: skewY(4deg);
  transform-origin: top right;
}
.spikesHerramientas {
  position: relative;
  background: $colorFuerte2;
}
.spikesHerramientas::after {
  content: "";
  position: absolute;
  right: 0;
  left: -46%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 3rem;
  background-size: 3rem 100%;
  background-image: linear-gradient(135deg, $colorFuerte2 25%, transparent 25%),
    linear-gradient(225deg, $colorFuerte2 25%, transparent 25%);
  background-position: 0 0;
}
.triangle {
  position: relative;
  background: $colorClaro2;
  border: $colorClaro2;
}
.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.688rem 4.688rem 0 4.688rem;
  border-color: $colorClaro2 transparent transparent transparent;
  left: 78%;
  transform: translateX(-50%) translateY(100%);
}

//Animaciones

.shake-vertical {
  -webkit-animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}
.text-shadow-pop-bl {
  -webkit-animation: text-shadow-pop-bl 0.6s both;
  animation: text-shadow-pop-bl 0.6s both;
}

// animation shake-vertical

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 $colorClaro1, 0 0 $colorClaro1, 0 0 $colorClaro1,
      0 0 $colorClaro1, 0 0 $colorClaro1, 0 0 $colorClaro1, 0 0 $colorClaro1,
      0 0 $colorClaro1;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px $colorClaro1, -2px 2px $colorClaro1,
      -3px 3px $colorClaro1, -4px 4px $colorClaro1, -5px 5px $colorClaro1,
      -6px 6px $colorClaro1, -7px 7px $colorClaro1, -8px 8px $colorClaro1;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 $colorClaro1, 0 0 $colorClaro1, 0 0 $colorClaro1,
      0 0 $colorClaro1, 0 0 $colorClaro1, 0 0 $colorClaro1, 0 0 $colorClaro1,
      0 0 $colorClaro1;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px $colorClaro1, -2px 2px $colorClaro1,
      -3px 3px $colorClaro1, -4px 4px $colorClaro1, -5px 5px $colorClaro1,
      -6px 6px $colorClaro1, -7px 7px $colorClaro1, -8px 8px $colorClaro1;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

// Responsive
@media screen and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
  main {
    .hero {
      padding: 0;
      .heroDescription {
        padding: 2.5rem;
        .heroText {
          gap: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  html {
    font-size: 12px;
  }
  main {
    .sobreMi {
      .sobreMiInfo {
        grid-template-columns: 1fr;
        .sobreMiTextoContenedor {
          order: 2;
        }
        .sobreMiFigura {
          justify-self: center;
          order: 1;
        }
      }
    }
  }
}
@media screen and (max-width: 770px) {
  html {
    font-size: 8px;
  }
  main {
    .hero {
      max-height: 70vh;
    }
    .proyectos {
      .contenedorTrabajos {
        .trabajo {
          grid-template-columns: 1fr;
          gap: 0;
          img {
            max-width: 100%;
            height: auto;
            order: 1;
          }
          .trabajoDetails {
            order: 2;
          }
        }
      }
    }
    .contacto {
      .contactoFormulario {
        grid-template-columns: 1fr;
        form {
          order: 1;
        }
        svg {
          order: 2;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    padding: 1.25rem 3rem;
    font-size: 1rem;
  }
  main {
    .hero {
      max-height: none;
      grid-template-columns: 1fr;
      .heroDescription {
        padding: 0 5rem;
        position: relative;
        top: -5rem;
      }
    }
    .skewedSobreMi {
      bottom: -4rem;
      height: 8rem;
    }
    .sobreMi {
      padding: 0 5rem;
      padding-bottom: 5rem;
    }
    .herramientas {
      padding: 5rem;
      padding-bottom: 0rem;
    }
    .proyectos {
      padding: 5rem;
      // padding-bottom: 0rem;
    }
    .skewedProyectos {
      height: 5rem;
      top: -1rem;
    }
    .contacto {
      padding: 5rem;
      padding-top: 0rem;
    }
  }
}
